<body background = "https://image.freepik.com/free-vector/birds-letter-mail-seamless-pattern-doodle-mail-vector-background_7586-1157.jpg">
<div class="w3-display-middle">
  <mat-card class="card2">
    <div style="text-align:right;">
      <button mat-raised-button color="warn" [routerLink]="['/ice']">ย้อนกลับ</button>
    </div><br>
    <h2 style="text-align:center;">แสดงความคิดเห็น</h2><br>

    
      <div style="text-align:center;">

        <mat-form-field class="example-full-width1">
          <mat-label>ชื่อผู้ใช้บริการ</mat-label>
          <input matInput placeholder="กรุณากรอกชื่อ" [(ngModel)]="comment.name" name="name" required>
        </mat-form-field>&nbsp;
        <mat-form-field class="example-full-width2">
          <mat-label>เบอร์โทรศัพท์</mat-label>
          <input matInput placeholder="กรุณาเบอร์โทรศัพท์" [(ngModel)]="comment.phone" name="phone" required>
        </mat-form-field><br>

        <h6>เพศ :&nbsp;
          <mat-form-field class="example-full-width">
            <mat-select placeholder="เพศ" name="soo" [(ngModel)]="gender" required>
              <mat-option *ngFor="let gender of genders" [value]="gender.genderId">
                {{gender.gender}}
              </mat-option>
            </mat-select>
          </mat-form-field></h6>

          <h6>จังหวัด :&nbsp;
            <mat-form-field class="example-full-width">
              <mat-select placeholder="จังหวัด" name="boo" [(ngModel)]="province" required>
                <mat-option *ngFor="let province of provinces" [value]="province.provinceId">
                  {{province.province}}
                </mat-option>
              </mat-select>
            </mat-form-field></h6>

        <h6>การบริการ รับ/ส่ง สินค้า :&nbsp;
        <mat-form-field class="example-full-width">
          <mat-select placeholder="ระดับความพึงพอใจ" name="level" [(ngModel)]="comment.level1" required>
            <mat-option *ngFor="let level of levels" [value]="level.levelId">
              {{level.levelName}}
            </mat-option>
          </mat-select>
        </mat-form-field></h6>

        <h6>ระยะเวลาในการส่งสินค้า :
        <mat-form-field class="example-full-width">
          <mat-select placeholder="ระดับความพึงพอใจ" name="level" [(ngModel)]="comment.level2" required>
            <mat-option *ngFor="let level of levels" [value]="level.levelId">
              {{level.levelName}}
            </mat-option>
          </mat-select>
        </mat-form-field></h6>

        <h6>สภาพของสินค้า :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field class="example-full-width">
          <mat-select placeholder="ระดับความพึงพอใจ" name="level" [(ngModel)]="comment.level3" required>
            <mat-option *ngFor="let level of levels" [value]="level.levelId">
              {{level.levelName}}
            </mat-option>
          </mat-select>
        </mat-form-field></h6>


      <mat-form-field class="example-full-width3">
        <textarea matInput placeholder="ข้อเสนอแนะอื่นๆ"[(ngModel)]="comment.post" name="post" ></textarea>
      </mat-form-field>
      </div>

      <div style="text-align:center;">
        <br><button mat-raised-button color="primary" (click)="save()">ส่งความคิดเห็น</button>
      </div>
    
  </mat-card>
</div>
</body>
