<body background = "https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-903ea3cb.jpg" >
<br><br><br><br><br>
<div class="container">
  <div style="text-align:center;" class="card card-container">
    <div style="text-align:center">
      <h1 style="text-align:center;">
        MEMBER REGISTRATATION <br><br>
        <button mat-raised-button color="warn" class="button-1" [routerLink]="['/app-loginemployee']">เข้าสู่ระบบพนักงาน</button>
        <br>
        <button mat-raised-button color="warn" class="button-2" [routerLink]="['/login']">เข้าสู่ระบบผู้เข้าใช้งาน</button>
        <br>
        <button mat-raised-button color="accent" class="button-3" [routerLink]="['/bounce']">ตีกลับสินค้า</button>
        <br>
        <button mat-raised-button color="primary" class="button-4" [routerLink]="['/comment']">แสดงความคิดเห็น</button>
      </h1>
    </div>
  </div>
</div>
</body>

